<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vítej v klubu Mladého diváka</title>
    <style type="text/css">
        @media only screen and (max-width:480px) {

            .mj-column-per-50,
            .mj-column-per-60,
            .mj-column-per-40 {
                width: 100% !important;
                max-width: 100%;
            }
        }
    </style>
</head>

<body style="margin: 0; padding: 0; background-color: #f1f2f2;">
    <div style="background-color:#f1f2f2">
        <div style="background:#36378C;background-color:#36378C;margin:0px auto;max-width:600px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                style="background:#36378C;background-color:#36378C;width:100%">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:10px 0px 0px 0px;text-align:center">
                            <div class="mj-column-per-50"
                                style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:50%">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                    style="vertical-align:top" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center"
                                                style="font-size:0px;padding:51px 0px 0px 0px;word-break:break-word">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                    style="border-collapse:collapse;border-spacing:0px">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width:186px">
                                                                <img height="auto"
                                                                    src="https://storage.googleapis.com/mladydivakostrava54162/mlady%20divak-white.png"
                                                                    style="border:0;border-radius:0px 0px 0px 0px;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px"
                                                                    width="186">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mj-column-per-50"
                                style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:50%">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                    style="vertical-align:top" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="left"
                                                style="font-size:0px;padding:25px 15px 0px 0px;word-break:break-word">
                                                <div
                                                    style="font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:13px;line-height:1.5;text-align:left;color:#000000">
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff;line-height:1.1;text-align:center">
                                                        <span style="color:rgb(158,255,68)"><span
                                                                style="font-size:40pt">Vítej</span></span>
                                                    </p>
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff;line-height:1.1;text-align:center">
                                                        <span style="color:rgb(158,255,68)"><span
                                                                style="font-size:40pt">v klubu Mladého
                                                                diváka</span></span>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="background:#36378C;background-color:#36378C;margin:0px auto;max-width:600px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                style="background:#36378C;background-color:#36378C;width:100%">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:0px 0px 10px 0px;text-align:center">
                            <div class="mj-column-per-100"
                                style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                    style="vertical-align:top" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="left"
                                                style="font-size:0px;padding:0px 30px 0px 30px;word-break:break-word">
                                                <div
                                                    style="font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:13px;line-height:1.5;text-align:left;color:#000000">
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff">
                                                        <span style="font-size:14px">Ahoj,</span>
                                                    </p>
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff">
                                                        &nbsp;</p>
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff;text-align:center">
                                                        <span style="font-size:14px">vítáme tě v klubu Mladý divák a
                                                            těšíme se, že s námi budeš součástí skvělých akcí. V příloze
                                                            najdeš kartičku, která tě dostane na spoustu akcí, takže si
                                                            ji ulož do Oblíbených v mobilu.<br></span>
                                                    </p>
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff">
                                                        &nbsp;</p>
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff;text-align:center">
                                                        <span style="text-decoration:underline;font-size:16px"><strong>Jak
                                                                to u nás chodí?</strong></span>
                                                    </p>
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff">
                                                        &nbsp;</p>
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff;text-align:center">
                                                        <span style="font-size:14px">O Mladého diváka se starají dvě
                                                            koordinátorky - Maruška a Zuzka. Kdykoliv budeš cokoliv
                                                            potřebovat, piš nebo volej. Postarají se, aby tvé členství
                                                            bylo co nejvíc příjemné, a také ti pomohou, když budeš
                                                            tápat.</span>
                                                    </p>
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff;text-align:center">
                                                        &nbsp;</p>
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff;text-align:center">
                                                        <span style="font-size:14px">On-line kartička šetří životní
                                                            prostředí a budeš ji mít hned po ruce. Taky se může stát, že
                                                            se jí budeš prokazovat u vstupu a její číslo zadávat při
                                                            nákupu vstupenek. Vstupenky kupujeme různě a snažíme se, aby
                                                            bylo všechno jednoduché. Když se vstupenka váže na
                                                            doprovodný program, většinou si ji koupíš na pokladně -
                                                            všechny instrukce dostaneš e-mailem, jakmile se přihlásíš na
                                                            doprovodný program. Platí, že si svou vstupenku se slevou
                                                            Mladý divák musíš vyzvedávat sama - předcházíme tak
                                                            případnému zneužívání.&nbsp;</span>
                                                    </p>
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff">
                                                        &nbsp;</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="background:#36378C;background-color:#36378C;margin:0px auto;max-width:600px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                style="background:#36378C;background-color:#36378C;width:100%">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:0px 0px 10px 0px;text-align:center">
                            <div class="mj-column-per-50"
                                style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:50%">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                    style="vertical-align:top" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center"
                                                style="font-size:0px;padding:0px 0px 0px 0px;word-break:break-word">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                    style="border-collapse:collapse;border-spacing:0px">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width:300px">
                                                                <img height="auto"
                                                                    src="https://storage.googleapis.com/mladydivakostrava54162/ruka%20karta.png"
                                                                    style="border:0;border-radius:0px 0px 0px 0px;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px"
                                                                    width="300">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mj-column-per-50"
                                style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:50%">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                    style="vertical-align:top" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="left"
                                                style="font-size:0px;padding:0px 15px 0px 15px;word-break:break-word">
                                                <div
                                                    style="font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:13px;line-height:1.5;text-align:left;color:#000000">
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff">
                                                        <span style="font-size:25pt">Vybrané tituly</span>
                                                    </p>
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff">
                                                        <span style="font-size:25pt"><span
                                                                style="color:rgb(221,49,117)"><span
                                                                    style="color:rgb(255,255,255)">za</span> fajn ceny,
                                                                <span
                                                                    style="color:rgb(255,255,255)">pokec</span></span><span
                                                                style="color:rgb(255,255,255)">&nbsp;</span>s umělci a
                                                            spousta dalších výhod.</span>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="background:#36378C;background-color:#36378C;margin:0px auto;max-width:600px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                style="background:#36378C;background-color:#36378C;width:100%">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:0px 0px 10px 0px;text-align:center">
                            <div class="mj-column-per-100"
                                style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                    style="vertical-align:top" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="left"
                                                style="font-size:0px;padding:5px 15px 15px 15px;word-break:break-word">
                                                <div
                                                    style="font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:13px;line-height:1.5;text-align:left;color:#000000">
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff;text-align:center">
                                                        <span style="font-size:14px">V této sezóně můžeš vyrazit nejen
                                                            do divadla, ale také na koncert, do galerie, na taneční
                                                            parket. Celou nabídku najdeš na webových stránkách <a
                                                                href="http://www.mladydivak.cz" target="_blank"
                                                                style="color: #ffffff;">www.mladydivak.cz</a>.</span>
                                                    </p>
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff;text-align:center">
                                                        <span style="font-size:14px">Pokud nechceš, aby ti nějaká
                                                            důležitá informace utekla, pak sleduj náš instagramový účet,
                                                            kam dáváme všechny informace.</span><span
                                                            style="font-size:15px"><br></span>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left"
                                                style="font-size:0px;padding:15px 15px 15px 15px;word-break:break-word">
                                                <div
                                                    style="font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:13px;line-height:1.5;text-align:left;color:#000000">
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff;text-align:center">
                                                        <span style="font-size:14px">Na doprovodné programy je nutné se
                                                            přihlásit, aby ti někdo nevyfoukl místo. Kapacita bývá
                                                            omezená, protože jde o něco exkluzivního, tak neváhej
                                                            dlouho.</span>
                                                    </p>
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff;text-align:center">
                                                        &nbsp;</p>
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff;text-align:center">
                                                        <span style="font-size:14px">Pozor na rezervace! Mají datum
                                                            expirace, a pokud ho prošvihneš, negarantujeme ti, že se na
                                                            akci dostaneš. Proč? Rezervace bohužel nemůžeme prodlužovat,
                                                            a tak o svou vstupenku se přijdeš, pokud si ji nevyzvedneš
                                                            včas.</span>
                                                    </p>
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff;text-align:center">
                                                        &nbsp;</p>
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff;text-align:center">
                                                        <strong><span style="color:rgb(221,49,117)"><span
                                                                    style="font-size:20px">A teď nezbývá, než sledovat
                                                                    <a href="https://go.sparkpostmail2.com/f/a/AXjjlgZGzApMcV2NFlZz9Q~~/AAA-fBA~/NwPxDhnIFTAht23j5QFATeQev3cDp12QN9seH36dMU9AjegklkRIwUCiC4dOagqky-WL1VbdBoVNMc_MBvg7zxic78t0eJwuZpTO9vnkcC1xyqbNkvEtsInHCGWmr3TcOSrdxbKn1jmpQLee2pBQFw~~"
                                                                        rel="noopener" style="color:#9eff44"
                                                                        target="_blank">náš Instagram</a> a přijít za
                                                                    námi!</span></span></strong>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="background:#36378C;background-color:#36378C;margin:0px auto;max-width:600px">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                style="background:#36378C;background-color:#36378C;width:100%">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:10px 0px 10px 0px;text-align:center">
                            <div class="mj-column-per-60"
                                style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:60%">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                    style="vertical-align:top" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="left"
                                                style="font-size:0px;padding:15px 15px 15px 15px;word-break:break-word">
                                                <div
                                                    style="font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:13px;line-height:1.5;text-align:left;color:#000000">
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff">
                                                        Divalo Jiřího Myrona, Čs. legií 148/14, Ostrava&nbsp;</p>
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff">
                                                        <a href="https://go.sparkpostmail2.com/f/a/tle3fvQloemKtifowDYivA~~/AAA-fBA~/AdkbcnH0Y2Rh2aZCNK7UOsd9DN_G6SCrQBQwmmUD0Gc-VCgPdlyS_Hh8N3B40d_g4Hs1klsW1FZSHMsDSFfU6KObyZoB5_Md1I0gzfHclNFWPlnxjqHNTpe0y6u9jX-N"
                                                            style="color:#9eff44" target="_blank">www.mladydivak.cz</a>
                                                    </p>
                                                    <p
                                                        style="font-family:Roboto,Tahoma,sans-serif;font-size:11px;color:#ffffff">
                                                        &nbsp;</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mj-column-per-40"
                                style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:40%">
                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                    style="vertical-align:top" width="100%">
                                    <tbody>
                                        <tr>
                                            <td align="center"
                                                style="font-size:0px;padding:10px 10px 10px 10px;word-break:break-word">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                    role="presentation" style="float:none;display:inline-table">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding:4px">
                                                                <table border="0" cellpadding="0" cellspacing="0"
                                                                    role="presentation"
                                                                    style="background:transparent;border-radius:3px;width:35px">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td
                                                                                style="font-size:0;height:35px;vertical-align:middle;width:35px">
                                                                                <a href="https://go.sparkpostmail2.com/f/a/yv8YJxxzXbIkzw1LZ0KPLg~~/AAA-fBA~/RqMD92QmR9eYg9pI0-4LYZKNkaa8xj5PTb9tx4b6W0vuoxyAgAEdEavBRNwRQgrADYbt5oBoPZ83dadr1MtLUa4lXfJ9cIi5stSoT-77_9RALHq8cFSa6uh8sc8_M0vk-P3G-ox6qswJJEjnhqPMEQ~~"
                                                                                    style="color:#9eff44"
                                                                                    target="_blank">
                                                                                    <img alt="Facebook" height="35"
                                                                                        src="https://d70shl7vidtft.cloudfront.net/editor/social-icos/roundedwhite/facebook.png"
                                                                                        style="border-radius:3px;display:block"
                                                                                        width="35">
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                    role="presentation" style="float:none;display:inline-table">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding:4px">
                                                                <table border="0" cellpadding="0" cellspacing="0"
                                                                    role="presentation"
                                                                    style="background:transparent;border-radius:3px;width:35px">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td
                                                                                style="font-size:0;height:35px;vertical-align:middle;width:35px">
                                                                                <a href="https://go.sparkpostmail2.com/f/a/AXjjlgZGzApMcV2NFlZz9Q~~/AAA-fBA~/NwPxDhnIFTAht23j5QFATeQev3cDp12QN9seH36dMU9AjegklkRIwUCiC4dOagqky-WL1VbdBoVNMc_MBvg7zxic78t0eJwuZpTO9vnkcC1xyqbNkvEtsInHCGWmr3TcOSrdxbKn1jmpQLee2pBQFw~~"
                                                                                    style="color:#9eff44"
                                                                                    target="_blank">
                                                                                    <img alt="Instagram" height="35"
                                                                                        src="https://d70shl7vidtft.cloudfront.net/editor/social-icos/roundedwhite/instagram.png"
                                                                                        style="border-radius:3px;display:block"
                                                                                        width="35">
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>